.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: $misc-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.misc-content img {
  align: middle;
  margin: 0px auto 0px;
  display: block;
  max-height: 550px;
}
