---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date">
    {{ page.date | date: "%B" }}
    {{ page.date | date: "%Y" }}
  </span>

  <article>
    {{ content }}
  </article>

  <div class="post-share">
    <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
    <div class="sharing-icons">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="related">
    <h2>{{ site.data.settings.related_posts }}</h2>
    {% assign listed_posts_urls = page.url | split: ' ' %}
    <div class="related-row">
      {% for tag in page.tags %}
        {% for post in site.tags[tag] limit:6 %}
          {% if listed_posts_urls contains post.url %}
          {% else %}
            <div class="related-col">
              <a href="{{ site.github.url }}{{ post.url }}">
                <div class="related-post" {% if post.image %}style="background-image:url({{ site.url }}{{ site.asset_dir }}{{ post.image }})"{% endif %}>
                  <h2><span>{{ post.title }}</span></h2>
                </div>
              </a>
            </div>
            {% assign listed_posts_urls = listed_posts_urls | push: post.url %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="comments">
    <h2>{{ site.data.settings.comments.title }}</h2>
    {% if site.data.settings.comments.enabled %}
      {% include comments.html %}
    {% endif %}
  </div>

</div>
